<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update item</title>
</head>
<body>
<!--
Почему мы можем использовать PATCH (html5 поддерживает только POST и GET
На самом деле thymeleaf реализует механизм вида:
<form method="POST"...
    <input .... value="patch">
Таким образом мы помещаем PATCH в эту скрытую переменную
-->
<form th:method="PATCH" th:action="@{/items/{id}(id=${item.getId()})}" th:object="${item}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="cost">Enter cost:  </label>
    <input type="text" th:field="*{cost}" id="cost"/>
    <br/>
    <input type="submit" value="Update item!"/>
</form>
</body>
</html>